html body .container-fluid.body-content {
  position:absolute;
  top:0;
  bottom:30px;
  right:0;
  left:0;
  overflow-y:auto;
}

header {
  position:absolute;
  left:0;
  right:0;
  top:0;
  background-color:#009199;
  height:50px;
}

footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:#009199;
  height:30px;
}

@media only screen and (max-width:460px) 
{
 footer {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:#009199;
  height:30px;
  display: none;
 }
}