#divPrincipal
{
	position: absolute;
	left: 17.8%;
	top: 50px;
	width: 1152px;
	height: 678px;
	background-color: white;
	padding: 50px;
	
}
.verCod{ display: none; }

h3
{
	font-size: 15pt;
	padding:0;
	margin:-7px;
	font-weight: normal;
}
h4
{
	font-size: 13pt;
	padding:0;
	margin:-7px;
	font-weight: normal;
}

.editarEquipe, select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.jogador
{
  position: relative;
  left: 8.5%;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#addNovaImagem
{
	position: absolute;
	left: 65%;
	top: 27%;
	width: 200px;
	height: 200px;
}


label 
{
  position: absolute;
  top: 58%;
  left: 64.5%;
  background-color: #009199;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}

input[type="file"]
{
	display: none;
}

#botaoSalvar
{
  position: absolute;
  left: 40%;
  top: 90%;
  width: 15%;
  background-color: white;
  border: 1px solid green;
  border-radius: 3px;
  padding: 8px 5px;
  cursor: hand;
  color: green;
}

#botaoSalvar:hover
{
  background-color: green;
  border: 1px solid green;
  border-radius: 3px;
  padding: 8px 5px;
  cursor: hand;
  color: white;
}

#botaoDescartar
{
  display: none;
  position: absolute;
  left: 47%;
  top: 90%;
  width: 15%;
  background-color: white;
  border: 1px solid red;
  border-radius: 3px;
  padding: 8px 5px;
  cursor: hand;
  color: red;
}

#botaoDescartar:hover
{
  background-color: red;
  border: 1px solid red;
  border-radius: 3px;
  padding: 8px 5px;
  cursor: hand;
  color: white;
}